/* --- ФАКТЫ О НАС --- */

.facts {
  padding-top: 150px;
  padding-bottom: 85px;

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    padding-top: 13px;
    padding-bottom: 4px;
  }

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    padding-top: 16px;
    padding-bottom: 10px;
  }
}

.facts__inner {
  padding-left: 15px;
  padding-right: 45px;

  overflow: hidden;

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    width: 72.656%;
    padding-left: $tablet_padding;
    padding-right: $tablet_padding;
  }

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    width: 100%;
  }
}

.facts__title {
  padding-left: 45px;
  margin-bottom: 50px;

  text-align: center;

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    padding-left: 0;
    margin-bottom: 30px;
  }
}

.facts__list {
  counter-reset: myCounter;

  display: flex;
  flex-wrap: wrap;

  width: 105.263%;
  padding-left: 0;

  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: $text_color;

  list-style-type: none;

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    width: 100%;
  }

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    width: 84%;
    margin-left: auto;
    margin-right: auto;

    font-size: 18px;
  }
}

.facts__list li {
  position: relative;
  width: 21.917%;

  min-height: 150px;
  padding-left: 0;
  padding-top: 55px;
  margin-bottom: 12px;

  /* -- DESKTOP ONLY-- */
  @media (min-width: $desktop_min_width) {
    &:not(:nth-child(4n+4)) {
      margin-right: 37px;
    }

    &:nth-child(1) {
      width: 22.417%;
    }
  }

  text-align: center;

  &::before {
    counter-increment: myCounter;
    content: "0" counter(myCounter);

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -1.27273px;
    color: $accent_color;
  }

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    width: 47.133%;

    /* -- TABLET ONLY-- */
    @media (min-width: $tablet_width) {
      &:not(:nth-child(2n)) {
        margin-right: 30px;
      }
    }
  }

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 22px;

    &:nth-child(1) {
      padding-top: 55px;
      margin-bottom: 0;
    }
  }
}
