/* -- Login Form -- */

.login-form__label {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: $title_color;

  text-align: center;

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    font-size: 18px;
    line-height: 28px;
    color: $text_color;

    margin-bottom: 30px;
  }

  /* -- MOBILE -- */
  @media (max-width: $mobile_max_width) {
    margin-bottom: 21px;
  }
}

.login-form input {
  width: 100%;
  height: 48px;
  padding-top: 8px;
  padding-left: 29px;
  padding-right: 29px;
  margin-bottom: 20px;

  font-size: 15px;
  line-height: 24px;
  color: $input_text_color;

  border: 1px solid $input_border_color;
  border-radius: 4px;
  background-color: $primary_bg_color;

  &:placeholder {
    opacity: 0.5;
  }

  /* -- TABLET -- */
  @media (max-width: $tablet_max_width) {
    padding-top: 3px;
    padding-left: 23px;
    padding-right: 23px;
  }
}

.login-form button[type="submit"] {
  width: 100%;
  padding: 15px 20px;

  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: $text_color;

  border: none;
  border-radius: 6px;

  background-color: $accent_color;

  cursor: pointer;

  &:hover {
    opacity: $hover_opacity;
  }

  &:active {
    opacity: $active_opacity;
  }
}
