// Mixins

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff2") format("woff2"),
      url("../fonts/#{$file_name}.woff") format("woff");
  }
}

@mixin general-font-family() {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  letter-spacing: -0.005em;
}

@mixin general-font() {
  @include general-font-family();
  font-weight: 400;
}

@mixin general-font-family-bold() {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin small-container {
  width: 77.02%;
  min-width: 800px;
  margin: 0 auto;
}

@mixin small-container-tablet {
  width: 100%;
  min-width: 100%;
  margin: 0;
}
